<div id=":13v" class="a3s" style="overflow: hidden;">
    <div style="background-color:#f0f0f0;padding-top:20px;padding-bottom:20px;color:#444">
        <div class="adM"></div>
        <div style="width:700px;margin:auto auto; font-family:'Trebuchet MS',Arial,sans-serif;">
            <div class="adM"></div>
            <div style="padding:20px 40px;background-color:white">
                <h3>
                    Hi Arpit,
                </h3>
                <h4>
                    You just got a new suggestion from {{name}} and his email is {{email}}
                </h4>
                <pre>
                    {{message}}
                </pre>
                <br/>
                <p style="width: 100%; text-align:center;">
                    <a href="mailto:{{email}}" style="
                        font-family:'Trebuchet MS',Arial,sans-serif;
                        background-color: #1B1C1D;
                        color: #FFF;
                        text-shadow: none;
                        background-image: none;
                        font-size: 0.9rem;
                        display: inline-block;
                        min-height: 1em;
                        margin: 0 .25em 0 0;
                        padding: .78571429em 1.5em;
                        font-weight: 700;
                        line-height: 1em;
                        font-style: normal;
                        text-align: center;
                        text-decoration: none;
                        border-radius: 0 !important;">
                            Send a reply
                    </a>
                </p>
                <br/>
                <p style="font-size:11pt;line-height:1.4em;font-family:'Trebuchet MS',Arial,sans-serif">
                    Regards,<br/>
                    Arpit Bhayani
                </p>
            </div>
        </div>
    </div>
</div>
