<div id=":13v" class="a3s" style="overflow: hidden;">
    <div style="background-color:#f0f0f0;padding-top:20px;padding-bottom:20px;color:#444">
        <div class="adM"></div>
        <div style="width:700px;margin:auto auto; font-family:'Trebuchet MS',Arial,sans-serif;">
            <div class="adM"></div>
            <div style="padding:20px 40px;background-color:white">
                <h3>Hi {{name}},</h3>
                <h3>Welcome to Codeville</h3>
                <p style="font-size:11pt;line-height:1.4em;font-family:'Trebuchet MS',Arial,sans-serif">
                    Your Codeville account has been created and is ready to use.
                </p>
                </br/>
                <p style="font-size:11pt;line-height:1.4em;font-family:'Trebuchet MS',Arial,sans-serif">
                    You can send us your suggestions <a href="http://codeville.org.in/suggestions">here</a>
                </p>
                <br/>
                <p style="font-size:11pt;line-height:1.4em;font-family:'Trebuchet MS',Arial,sans-serif">
                    Regards,<br/>
                    Arpit Bhayani
                </p>
            </div>
            <p style="font-size:11pt;line-height:1.4em;font-family:'Trebuchet MS',Arial,sans-serif">
                To unsubscribe from all of our mailings, <a href="mailto:arpit.b.bhayani+codeville@gmailcom">click here</a>
            </p>
        </div>
    </div>
</div>
