<div id=":13v" class="a3s" style="overflow: hidden;">
    <div style="background-color:#f0f0f0;padding-top:20px;padding-bottom:20px;color:#444">
        <div class="adM"></div>
        <div style="width:700px;margin:auto auto; font-family:'Trebuchet MS',Arial,sans-serif;">
            <div class="adM"></div>
            <div style="padding:20px 40px;background-color:white">
                <h3>Hi {{name}},</h3>
                <h3>Welcome to Random Cliff</h3>
                <p style="font-size:11pt;line-height:1.4em;font-family:'Trebuchet MS',Arial,sans-serif">
                    Your Random Cliff account has been created and is ready to use.
                </p>
                <p style="font-size:11pt;line-height:1.4em;font-family:'Trebuchet MS',Arial,sans-serif">
                    Using our free APIs create some crazy applications and share it with the world.
                </p>
                <br/>
                <p style="width: 100%; text-align:center;">
                    <a href="http://speedster.pythonanywhere.com{{url_for('pages.applications')}}" style="
                        font-family:'Trebuchet MS',Arial,sans-serif;
                        background-color: #1B1C1D;
                        color: #FFF;
                        text-shadow: none;
                        background-image: none;
                        font-size: 0.9rem;
                        display: inline-block;
                        min-height: 1em;
                        margin: 0 .25em 0 0;
                        padding: .78571429em 1.5em;
                        font-weight: 700;
                        line-height: 1em;
                        font-style: normal;
                        text-align: center;
                        text-decoration: none;
                        border-radius: 0 !important;">
                            See applications people developed using our API
                    </a>
                </p>
                <br/>
                <p style="font-size:11pt;line-height:1.4em;font-family:'Trebuchet MS',Arial,sans-serif">
                    You can send us your suggestions <a href="http://speedster.pythonanywhere.com/suggestions">here</a>
                </p>
                <br/>
                <p style="font-size:11pt;line-height:1.4em;font-family:'Trebuchet MS',Arial,sans-serif">
                    Regards,<br/>
                    Arpit Bhayani
                </p>
            </div>
            <p style="font-size:11pt;line-height:1.4em;font-family:'Trebuchet MS',Arial,sans-serif">
                To unsubscribe from all of our mailings, <a href="mailto:arpit.b.bhayani+randomcliff@gmailcom">click here</a>
            </p>
        </div>
    </div>
</div>
