{% extends "raw.html" %}

{% block always %}
<div class="ui grid" style="padding-top: 150px;">
    <div class="row">
        <div class="three wide column"></div>
        <div class="ten wide column">
            <div class="ui black large header">
                {%- if request.path == url_for('conteno.user_applications') %}
                    <i><span class="ui red">You crated {{applications|length}}</span> application(s) ... we would love if you create more</i>
                {% else %}
                    <i><span class="ui red">{{applications|length}}</span> application(s) created</i>
                {% endif %}
            </div>
            <div class="section ui divider"></div>
            <div class="ui divided relaxed items">
                {% for application in applications %}
                <div class="item">
                    <div class="ui tiny image">
                        <i class="very huge cube icon"></i>
                    </div>
                    <div class="content">
                        {% if application.link %}
                            <a href="{{application.link}}" class="header">{{application.title}}</a>
                        {% else %}
                            <div class="header">{{application.title}}</div>
                        {% endif %}
                        <div class="meta">
                            <span>Author: <a href="/">{{application.user.fname}} {{application.user.lname}}</a></span>
                        </div>
                        <div class="description">
                            <p>{{application.description}}</p>
                        </div>
                    </div>
                    <div class="ui tiny image">
                        {% if application.user.id == g.user.id %}
                            <a href="{{url_for('conteno.delete_application', application_id=application.id)}}"><i class="large delete icon"></i></a>
                            <a href="{{url_for('conteno.edit_application', application_id=application.id)}}"><i class="large edit icon"></i></a>
                        {% endif%}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="ui grid center aligned" style="padding-top: 30px;">
    <div class="row">
        <div class="sixteen wide column">
            <div class="ui black large header">
                Did you also create something cool with our API?
            </div>
            <a class="ui huge black button" href="{{url_for('conteno.new_application')}}">
                Share it with us <i class="right arrow icon"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block head %}
{% endblock %}
