{% extends "raw.html" %}

{% block body %}
<div class="" style="min-height:700px;">
    <div class="ui section hidden divider"></div>
    <div class="ui grid">
        <div class="column">
            <img class="ui centered small image" src="/static/images/myAvatar.png" style="padding-top: 90px;">
        </div>
    </div>
    <div class="ui grid">
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui hidden divider"></div>
                <div class="ui large header center aligned">
                    <a class="ui huge teal button" href='/conteno'>
                        Conteno
                    </a>
                    <a class="ui huge red button center aligned" href='/quora'>
                        Quora - Widget
                    </a>
                </div>
                <div class="ui hidden divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui large header center aligned">
                    Designed and developed with <span><i class="heart red icon"></i></span>by <a href="http://arpitbbhayani.github.io/about-me" style="font-family: 'Just Me Again Down Here', cursive;">Arpit</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui large header center aligned">
                    <span>
                        Sign up and explore <i class="right arrow icon"></i>
                        <a class="ui huge facebook button" href="{{url_for('pages.oauth_authorize', provider='facebook', next=next_url)}}">
                            <i class="facebook icon"></i>
                            Login with Facebook
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
