{% extends "raw.html" %}

{% block body %}
<div class="ui grid" style="padding-top: 150px;">
    <div class="row">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            <div class="ui huge form" id="quora_widget_form">
                <div class="field">
                    <label>Paste your Quora profile URL here</label>
                    <input type="text" value="" placeholder="eg: https://www.quora.com/profile/Arpit-Bhayani" id="quora_widget_url"/>
                </div>
                <div class="field">
                    <div class="ui red button inverted large" id="quora_widget_button">
                        Preview
                    </div>
                </div>
            </div>
        </div>
        <div class="two wide column"></div>
    </div>
</div>
<div class="ui grid">
    <div class="row">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            <div class="ui basic segment" id="quora_widget_preview"></div>
        </div>
    </div>
    <div class="row">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            <div id="steps" class="ui basic segment" style="display: none;">
                Copy-paste the lines below in your website.
                <pre></pre>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block head %}
<script src="/static/js/quora.js"></script>
{% endblock %}
