<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Random Cliff | Get amazing random content with API</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/ico" href="/static/images/myAvatar.png">

    <link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">

    <!-- JS Libs -->
    <script src="/static/js/lib/jquery-1.11.3.min.js"></script>
    <script src="/static/semantic/dist/semantic.min.js"></script>
</head>

<body>
    <div class="ui fixed borderless menu" style="{% if not g.user.is_authenticated %}background: transparent;{% endif %}">
        <div class="penny-header item">
            <span><a href="{{url_for('conteno.index')}}" class="header black ui"><h2>Random Cliff</h2></a></span>
        </div>
        <div class="right menu item">
            {% if not g.user.is_authenticated %}
            <div class="item">
                <a class="ui huge facebook button" href="{{url_for('conteno.oauth_authorize', provider='facebook', next=next_url)}}">
                    <i class="facebook icon"></i>
                    Login with Facebook
                </a>
            </div>
            {% else %}
            <div class="ui dropdown item">
                <i class="user icon"></i>
                Hi, {{ g.user.fname }} <i class="dropdown icon"></i>
                <div class="menu">
                    <span class="disabled item">{{ current_user.email }}</span>
                    <a class="item" href="{{ url_for('conteno.user_applications') }}">
                        <i class="cubes icon"></i> My Applications
                    </a>
                    <a class="item" href="{{ url_for('conteno.generate') }}">
                        <i class="refresh icon"></i> Generate new API Key
                    </a>
                    <a class="item" href="{{ url_for('conteno.help') }}">
                        <i class="help icon"></i> Help
                    </a>
                    <a class="item" href="{{ url_for('conteno.logout') }}">
                        <i class="sign out icon"></i> Logout
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% if not g.user.is_authenticated %}
        {% block intro %}{% endblock %}
    {% else %}
        <div id="msg" class="ui message" style="display: none;"></div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div class="ui message" id="flashes">
                  <ul>
                      {% for message in messages %}
                      <li>{{ message }}</li>
                      {% endfor %}
                  </ul>
              </div>
          {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    {% endif %}
    {% block always %}{% endblock %}
</body>
<head>
{% block head %}{% endblock %}
<!-- UX Styling -->
<link href='https://fonts.googleapis.com/css?family=Allerta+Stencil' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/css/ux.css">
<script src="/static/js/index.js"></script>
<script src="/static/js/uimodules.js"></script>
</head>
</html>
